html {
    height: 100%;
}

body{
    color: #E9E8F1ff;
    margin: 0;
    background-image:  
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("/images/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
} 

/* top section here */
.nav-bar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: end;
    font-family: 'Orbitron', sans-serif;
}

/* removing the  bullets*/
.nav-bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

/* removing the  bullets*/
.nav-bar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* setting up effects for hover */
.nav-bar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #44759c;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

/* adding hover */
.nav-bar ul li:hover::after{
    width: 100%;
}

/* resizing and positioning the logo */
.logo{
    cursor: pointer;
    position: fixed;
    bottom: 8px;
    right: 16px;
}

/* content */
#container{
    font-family: 'Orbitron', sans-serif;
    position: relative;
    color: #fff;
    text-align: center;
}

/* resizing text elem */
.img-sec h1 {
    font-size: 50px;
    font-weight: 400;
    margin-top: 5px;
}

.profile-sec h2{
    margin-top: -20px;
    font-weight: 400;
}

.desc-sec h3 {
    margin-top: 70px;
    font-weight: 10;
    font-style: italic;
}

.desc-sec p {
    margin: 20px auto;
    line-height: 25px;
}

/* img resize */
#profile-img{
    width: 300px;
    border-radius: 200px;
    border: 6px solid #BFC4D7ff;
}

/* text desc*/
.desc-sec .profile-sec{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

/* ===================profile section=================== */
#profile-container{
    font-family: 'Rubik', sans-serif;
    position: relative;
    color: #fff;
}

/* image position*/
.profile-sec{
    position: absolute;
    left: 4%;
    width: 270px;
    border: 1px solid #BFC4D7ff;
}

/* image resize */
#profile-img2{
    width: 250px;
    padding: 10px;
}

/* details below img */
#details h2{
    background-color:rgb(103, 103, 112);
    text-align: center;
    margin: 0;
}

.details-content{
    display: flex;
    align-items: baseline;
    margin-top: 0px;
    border-bottom: 1px solid white;
    padding: 5px;
}
/* centering the UL tag */
.list-container{
    text-align: center;
}

/* moving the LI tag on left and removing the bullets and default margin and padding */
.nameUL{
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;    
    font-size: large;
    font-weight: 100;
    flex-basis: 50%;
}

/* debut */

/* text content on details */
#details h3{
    font-weight: 1;
    flex-basis: 50%;
    margin: 0 5px;
}

#details p{
    font-size: large;
    font-weight: 100;
    flex-basis: 50%;
}

/*  */
.text-sec{
    position: absolute;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: justify;
}

.text-sec h1{
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 1px solid white;
}

.text-sec p{
    font-size: 1.1rem;
}